<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <span class="navbar-text">&copy;2023 All rights reserved</span>
    <span class="navbar-text">Kolbaev Daniel 301274875</span>
    </div>
    </nav>
  </footer>
