<link rel="stylesheet" type="text/css" href="/Content/about.css" />
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">
<div class="about__wrapper">
 
    <h1>Kolbaev Daniel Software Developer</h1>
    <div class="My_photo">
    <img src="img/Dan.jpg" width="300" height="300"alt="Photo" >
</div>

    <p>Skills: Oracle Database 
        · JavaScript 
        · Cascading Style Sheets (CSS) 
        · HTML 
        · C# 
        · Research Skills 
        · Leadership 
        · Communication 
        · Engineering
        . Java
    </p>
    <div>
        <a href="https://drive.google.com/file/d/1gZj_-V_eLV7NtBeRi4d7pNy80DPs4kJh/view?usp=drive_link" download="Indeed Resume.pdf">My Resume</a>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/daniel-kolbaev-723543273/" target="_blank">My Linkedin</a>
    </div>
    </div>


</div>

</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   