<link rel="stylesheet" type="text/css" href="Content/home.css" >
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">
    <div class="home__wrap ">

    <h1>Welcome to My portfolio </h1>
    <p>Hey there! </p>
    
    <p>My name is Daniel </p>
    <p>Hello, I'm Daniel, and I'm thrilled to have you here. 
    <p>I am currently pursuing my passion for technology as a student of the Software Engineering program at Centennial College.</p> 
    <p>This journey has been an exciting exploration of the vast and ever-evolving world of software development.</p>
    <p>In this digital space, I invite you to delve into my experiences, projects, and achievements. </p>
    <p>As you navigate through these pages, you'll discover my dedication to crafting innovative solutions and my enthusiasm for learning in the realm of software engineering.</p>
    </div>
</div>
<br>
<br>
<Section>
    <p>if you want to learn more about me click this button</p>
    <a class="btn btn-primary"  href="/about">Know More About Me</a>
</Section>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   