<link rel="stylesheet" type="text/css" href="/Content/products.css" />
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <div class="project-container">
        <div class="project-item">
            <img src="img/1Project.png" alt="1 Project On HTML CSS">
            <h2>Project Name</h2>
            <p>My first project done by HTML and CSS</p>
            <p><strong>Date:</strong>  February 15 2023</p>
            <p><strong>Role:</strong> Student </p>
            <p><strong>Skills:</strong> HTML, CSS.</p>
           
        
        <div class="project-item2">
            <img src="img/Project2.png" alt="2 Project S">
            <h2>Project Name</h2>
            <p>My first project done by JS</p>
            <p><strong>Date:</strong>  April 06 2023</p>
            <p><strong>Role:</strong> Student </p>
            <p><strong>Skills:</strong> HTML, CSS,JS</p>
           
       
        <div class="project-item3">
            <img src="img/Project3.png" alt="3 Project S">
            <h2>Project Name</h2>
            <p>My first game created by JS</p>
            <p><strong>Date:</strong>  April 28 2023</p>
            <p><strong>Role:</strong> Student </p>
            <p><strong>Skills:</strong> HTML, CSS,JS</p>
           
        </div>
    
        <!-- Add more project items as needed -->
    </div>
    
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   