<link rel="stylesheet" type="text/css" href="Content/services.css" />
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <!-- services section-->
    <section id="services">
        <div class="container">
            <h1 class="text-center">Services</h1>
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class="fas servicesIcon fa-clock"></i>
                            <h4 class="card-title mt-3"> Software Development</h4>
                            <p class="card-text mt-3">My expertise lies in software development, and I'm particularly skilled in C#, HTML, CSS, and JavaScript. Whether it's crafting responsive websites, designing user-friendly interfaces, or developing robust applications, I thrive on turning ideas into reality through coding.
                            </p>
                        </div>
                    </div>  
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-layer-group'></i>
                            <h4 class="card-title mt-3">Database Management</h4>
                            <p class="card-text mt-3">With a strong understanding of Oracle SQL, I can efficiently work with databases, organizing and retrieving data to support various projects and applications. My database skills ensure seamless integration and efficient data handling for software systems.
                            </p>
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='far servicesIcon fa-check-circle'></i>
                            <h4 class="card-title mt-3">Problem-Solving</h4>
                            <p class="card-text mt-3"> I'm a natural problem-solver, able to analyze complex challenges and devise innovative solutions. My keen eye for detail and logical thinking enable me to identify issues and implement effective strategies to overcome them.
                            </p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-search'></i>
                            <h4 class="card-title mt-3"> Collaboration</h4>
                            <p class="card-text mt-3">Working in a team excites me! I am a great team player and believe in the power of collaboration. My open communication and respectful attitude foster a positive and productive working environment, ensuring projects are completed smoothly.
                            </p>
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-shield-alt'></i>
                            <h4 class="card-title mt-3">Continuous Learner</h4>
                            <p class="card-text mt-3">As a student, I have a hunger for knowledge and continuously strive to stay updated with the latest trends and advancements in the tech industry. My eagerness to learn enables me to adapt quickly and embrace new technologies.
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-wrench'></i>
                            <h4 class="card-title mt-3">Creativity</h4>
                            <p class="card-text mt-3">Innovation and creativity are at the heart of my work. Whether it's devising a new feature or enhancing an existing system, I bring fresh perspectives and creative flair to every project.

                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </section>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   